:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  color:white;
  width: 100vw;
  height: 100vh;
  background: #2962A0;
  background: -webkit-linear-gradient(bottom, #2962A0, #2C8AA5);
  background: -moz-linear-gradient(bottom, #2962A0, #2C8AA5);
  background: linear-gradient(to top, #2962A0, #2C8AA5);
}